* { margin:0; padding:0; }

body {
	background:#ffffff;
	text-align:center;
	line-height:18px;
	font:11px/1.7 Verdana, Arial, Tahoma;
	color:#000;
	padding-bottom:20px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}




a:link{color:#194FBF;}
a:visited{color:#0E3A6B;}
a:hover{text-decoration:none;}
a:active{color:#CB9B1A;}

img { border-width:0px; }





#body_container
{
        position: relative;
        padding: 0px 10px 0px 10px;
	border-top:#ecc400 0px solid;
	margin:0px auto;
	text-align:left;
	width:970px;
        border-left:0px #000 solid;
        border-right:0px #000 solid;
	background:url(../../../CreatorSiteFinal/web-content/image-files/shadow-wrapper.gif) repeat-y center;
}





#content_container
{
        position: relative;
        padding:0px 0px 0px 0px;
        float:center;
	margin:0px auto;	
	text-align:left;
	width:948px;
	background:#FFF;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}


#content_container3
{
        position: relative;
        padding:0px 0px 0px 0px;
        float:center;
	margin:0px auto;	
	text-align:left;
	width:878px;
	background: #fff url(../../../CreatorSiteFinal/web-content/image-files/gradient-tip2z.jpg) repeat-x center;
        border-left:px #000 solid;
        border-bottom:1px #ecc400 solid;
}



#content
{
        position: relative;
        padding:0px 0px 0px 0px;
        float:left;
	margin:0px auto; 
	padding-bottom:36px;
	text-align:left;
	width:939px;
        border-left:px solid blue;
        border-right:px solid blue;
}



#content_container2
{
position: relative;
	border:0px;
	padding:10px 10px px 0px;
	align:center;
	width:890px;
        margin:10px 0px px 0px;
	background: #fff url(../../../CreatorSiteFinal/web-content/image-files/gradient-tip2b.jpg) repeat-x center;
        border-left:1px #FAC330 solid;
        border-right:1px #FAC330 solid;
        border-top:1px #FAC330 solid;
        border-bottom:1px #FAC330 solid;
}


#slideshow {
    position:relative;
margin:0px 0px 0px 51px;
        padding:0px 20px 0px 20px;
	width:800px;
    height:60px;
border-top: px solid #000;
border-left: px solid #000;
border-right: px solid #000;
}

#slideshow DIV {
    position:absolute;
padding:0px 20px 0px 20px;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	width:800px;
    height:60px;
    background-color: #FFF;
border-top: px solid #fff;
border-left: px solid #8d8d8d;
border-right:px solid #8d8d8d;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    width:800px;
    height:60px;
    display: block;
    border: 0;
    margin-bottom: 0px;
}

#rightcolumn 
{ 
        position: relative;
        color: #333;
background: #ffffff;
height:1320px;
	margin:0px 0px 0px 0px;
        padding:0px 0px 0px 0px;
 width: 260px;
 float: right;
border-top: px solid #fff;
border-left: px solid #8d8d8d;
border-right: px solid #8d8d8d;
}

.ClearIt
{
	clear:both;
	float:none;
	font-size:1px;
	height:0px;
}

#header
{
	background:#fff
	height:190px;
    padding: 0px;
    float: center;
	margin-bottom:15px;

}



#content h1
{
	font-family:"Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size:25px;
	line-height:36px;
	font-weight:bold;
	color:black;
margin-left:px;
margin-right:px;
	margin-bottom:3px;
	padding:1px 0px;
	border-bottom:px #3cf1e7 solid;
}

#content h2
{
	font-family:"Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	line-height:30px;
	color:#000;
	text-align:left;
margin-left:0px;
	margin-top:px;
margin-left:0px;
margin-right:0px;
}

#special h1
{
	font-family:"Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size:25px;
	line-height:36px;
	font-weight:bold;
	color:black;
margin-left:250px;
margin-right:250px;
	margin-bottom:3px;
	padding:0px 0px;
	border-bottom:0px #3cf1e7 solid;
}


#content h3
{
	font-family:"Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-top:0px;
	margin-left:2px;
width:220px;
	color:#000;
	border-left:px #3cf1e7 solid;
	border-right:px #3cf1e7 solid;
}


#content h4
{
	font-family:"Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:0px;
margin-bottom:0px;
        padding:20px; 1px; 2px; 0px;
	color:#000;
}

#content p
{
	margin-bottom:18px;
margin-left:0px;
	text-align:left;
}



#content ul, ol
{
	margin:40px 0px 18px 18px;
}

#content li
{
	line-height:18px;
	margin-left:80px;
}



#content .floatTip6Right
{
        position: relative;
        padding: 0px 70px 0px 10px;
	float:right; 
	width:240px;
        border-left:3px #Ff0000 solid;
        border-right:3px #Ff0000 solid;
	margin:px 0px 18px 18px;
        align:center;
}

#content .floatTip7Right
{
        position: relative;
        padding: 0px 70px 0px 10px;
	float:right; 
        border-left:3px #Ff0000 solid;
        border-right:3px #Ff0000 solid;
	margin:px 0px 18px 18px;
        align:center;
}


#content .floatTip6Left
{
	float:center;
padding:0px 0px; 0px; 0px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
	margin:0x; 0px; 0px; 0px;
        align:center;
        background: url(../../../CreatorSiteFinal/web-content/image-files/contact-skin1.jpg) repeat-x right;
}



#content .floatTipRight
{
	float:left;
        position: relative;
        padding: 0px 20px 7px 20px;
border-top:0px #147de8 solid;
border-left:0px #147de8 solid;
border-right:0px #147de8 solid;
border-bottom:0px #147de8 solid;
    width: 512px;
height: 175px;
background: url(../../../CreatorSiteFinal/web-content/image-files/earthday-hdr.jpg);
	margin:px px px px;
        align:center;
}


#content .floatTip3bLeft
{
        position: relative;
        padding:5px 10px; px; 0px;
	margin:22px px px px;
	float:left;
        height: 300px; 
	width:170px;        
        border-top:0px #feedb0 solid;
        border-left:0px #feedb0 solid;
        border-right:0px #feedb0 solid;
background:#fff url(../../../CreatorSiteFinal/web-content/image-files/gradient-3b.jpg) repeat-x center;
}

#content .floatTip8Left
{
        position: relative;
        padding: 10px 30px 0px 20px;
	float:right;
	margin:1px 0px 1px px;
        align:right;
        border-left:0px #FAC330 solid;
        border-right:0px #FAC330 solid;
}



#content .floatTip2Left
{
        position: relative;
        padding:10px 60px; 0px; 0px;
	float: right;
	margin:0px; 0px; 0px; 0px;
        align:right;
        border-left:0px #FAC330 solid;
        border-right:0px #FAC330 solid;
}





#content .CenterSidebar
{
        position: relative;
        padding:1px 50px; 0px; 20px;
	margin:px 1px; 50px; 0px; 0px;
	background:#Ffffff;
	width:590px;
        border-left:5px #FAC330 solid;
        border-right:5px #FAC330 solid;
	font-size:11px;
	line-height:18px;
        align:center;
}


#content .floatTip3Left
{
        position: relative;
        padding:0px 30px; 0px; 0px;
	float:left; 
	width:220px;
        border-left:6px #FAC330 solid;
        border-right:6px #FAC330 solid;
        align:left;
}

#content .floatTip3Right
{
        position: relative;
        padding: 10px 70px 0px 10px;
	float:right;
        border-left:3px #FAC330 solid;
        border-right:3px #FAC330 solid;
	margin:px 0px 18px 18px;
        align:center;
}


#content .floatCenter
{
        position: relative;
        padding: 0px 0px 0px 0px;
	float:center;
	width:630px;
	margin:0px 0px 0px 0px;
        border-left:0px #FAC330 solid;
        border-right:0px #FAC330 solid;
}

#content .floatLeft2
{
        position: relative;
        padding: 0px 20px 0px 35px;
	float:right;
	margin:0px 0px 1px 1px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .floatLeft
{
        position: relative;
        padding: 0px 40px 0px 40px;
	float:left;
	margin:0px 0px 1px 1px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .floatLeft7
{
        position: relative;
        padding: 0px 20px 0px 20px;
	float:left;
width:220px;
	margin:0px 25px 1px 1px;
        border-left:px #Ff0000 solid;
        border-right:px #Ff0000 solid;
}

#content .floatRight7
{
        position: relative;
        padding: 0px 0px 0px 20px;
	float:right;
width:220px;
	margin:0px 20px 1px 1px;
        border-left:px #Ff0000 solid;
        border-right:px #Ff0000 solid;
}


#content .LeftSidebar, #content .RightSidebar
{
        position: relative;
        padding: 0px 65px 0px 10px;
	float:left;
width:220px;
	margin:0px 0px 0px 5px;
	border-top:1px #0048df solid;
	border-bottom:1px #0048df solid;
	border-left:1px #0048df solid;
	border-right:1px #0048df solid;
	background: url(../../../CreatorSiteFinal/web-content/image-files/gradient-4z.jpg) repeat-x left;

	font-size:11px;
	line-height:18px;
}


#content .LeftSidebar2
{
        position: relative;
        padding: 0px 0px 0px 140px;
	float:left;
width:230px;
	margin:0px 40px 10px 10px;
	border-top:px #fac330 solid;
	border-bottom:px #fac330 solid;
	border-left:px #fac330 solid;
	border-right:0px #fac330 solid;
	background:#ffffff
	font-size:11px;
	line-height:18px;
}



#content .RightSidebar2
{
        position: relative;
        padding: 0px 150px 0px 10px;
	float:right;
width:230px;
	margin:0px 0px 10px 10px;
	border-top:px #fac330 solid;
	border-bottom:px #fac330 solid;
	border-left:px #fac330 solid;
	border-right:0px #fac330 solid;
	background:#ffffff
	font-size:11px;
	line-height:18px;
}

#content .float7Logo
{
        position: relative;
        padding: 0px 70px 0px 0px;
	float:left;
	margin:8px 1px 5px 8px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .float7Nav
{
        position: relative;
        padding: 0px 70px 0px 190px;
	float:left;
	font:11px/1.7 Verdana, Arial, Tahoma;
	font-size:16px;
	font-weight:normal;
	margin:0px 1px 0px 0px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .float7Left
{
        position: relative;
        padding: 0px 40px 0px 50px;
	float:left;
	margin:0px 1px 0px 0px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .float7Steps
{
        position: relative;
        padding: 0px 90px 0px 20px;
	float:left;
	margin:0px 1px 0px 0px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .float7Special
{
        position: relative;
        padding: 0px 0px 0px 380px;
	float:left;
	margin:0px 1px 0px 0px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}

#content .floatRight
{
position: relative;
        padding: 0px 20px 0px 20px;
	float:right;
	margin:0px 0px 1px 10px;
        border-left:0px #FAC330 solid;
        border-right:0px #FAC330 solid;
}

#content .float2Right
{
position: relative;
        padding: 0px 170px 0px 0px;
	float:right;
	margin:0px 0px 1px px;
        border-left:0px #Ff0000 solid;
        border-right:0px #Ff0000 solid;
}



#sitemap_container
{
	padding:18px 9px;
	margin:14px 0px 18px 0px;
	border:1px #CCC solid;
	border-top:px #FAC330 solid;
	font-size:12px;
	line-height:18px;
}

#sitemap_container li.Parent
{
	border-bottom:px #000 solid;
}

#sitemap_container ul
{
	list-style-type:none;
}

#sitemap_container .Parent ul
{
	padding-left:18px;
}

#sitemap_container ul li
{
	padding-left:18px;
	padding-top:9px;
	padding-bottom:9px;
	margin-left:2px;
}


#sitemap_container li
{
	border-left:0px #000 solid;
}

#footer
{
	color:#666;
	font-size:11px;
	line-height:18px;
        text-align:center;
clear: both;
	padding:0px;
	border-top:#3cf1e7 px solid;
	background:fff
}

#footer p
{
	margin-bottom:18px;
}

#top_nav
{
	position:absolute;
	top:190px;
	z-index:106;
	margin:0px 53px;
	text-align:left;

}

#nav_bar
{
	position:absolute;
	top:188px;
	z-index:106;
	padding:0px 0px 0px 10px;
	margin:0px 0px;
border-right: 0px solid #0b3460;
        float:center
}

#nav
{
	width:950px;
	height:20px;
	position:absolute;
	font-size:12px;
	font-weight:normal;
	margin:0px; 0px;
}

#nav .select, #nav .current
{
	margin:0px;
	padding:0px 72px;
	list-style:none;
}
#nav li
{
	display:inline;
	margin:0px;
	padding:0px;
	height:auto;
}

#nav .select a, #nav .current a
{
	display:block;
	height:26px;
	float:left;
	width:120px;
	text-decoration:none;
	color:#fff;
	line-height:27px;
	text-align:center;
	white-space:nowrap;
}

* html #nav .select a, * html #nav .current a
{
	height:21px;
}

#nav .select .sub a, #nav .current .sub a
{
	width:auto;
}


#nav .select a:hover, #nav .select li:hover a
{
	background:#fff url(../../../CreatorSiteFinal/web-content/image-files/menu-current.jpg) no-repeat bottom left;
	cursor:pointer;
	color:#000;
}

#nav .sub
{
	display:none;
}

/* for IE5.5 and IE6 only */
#nav table {position:absolute; border-collapse:collapse; left:0; top:0;}

#nav .current a
{
	background:#fff url(../../../CreatorSiteFinal/web-content/image-files/menu-current.jpg) no-repeat bottom left;
	color:#000;
}

#nav .current a:hover
{
	color:#000;
}


#nav .sub li a:hover, #nav .select a:hover .sub li a:hover, #nav .select li:hover .sub li a:hover
{
	background:#FFF;
	color:#999;
}

#nav .sub_active .current_sub a, #nav .sub_active a:hover
{
	background:#FFF;
	color:#999;
}

#nav .sub_active .current_sub a:hover
{
	background:#FFF;
	color:#000;
}

#nav .select li a:hover .sub, #nav .select li:hover .sub
{
	display:block;
	position:absolute;
	width:840px;
	margin-left:0px;
	top:30px;
	left:0;
	background:#FFF;
	margin-top:0;
	padding:0;
	z-index:100;
	color:#000;
}

#nav .sub, #nav .sub_active
{
	margin:0;
	padding:0;
	list-style:none;
}

#nav .sub_active
{
	display:block;
	position:absolute;
	width:645px;
	margin-right:180px;
	top:29px;
	right:0;
	background:#FFF;
	margin-top:0;
	padding:0;
	z-index:10;
}
* html #nav .sub_active, * html #nav .select a:hover .sub {z-index:-1; margin-top:0; margin-t\op:1px;}

#nav .sub_active a
{
	height:10px;
	text-decoration:none;
	line-height:10px;
	white-space:nowrap;
	display:block;
	float:left;
	background:#FFF;
	padding:5px 0px;
	margin:0;
	white-space:nowrap;
	border:0;
	color:#000;
}

#nav .select a:hover .sub li a, #nav .select li:hover .sub li a
{
	display:block;
	background:#FFF;
	padding:0px 10px;
	margin:0;
	white-space:nowrap;
	border:0;
	color:#000;
}
